:root {
  --clr1: #131313;
  --acn1: #232323;
  --acn2: purple;
  --acn3: #333333;
  --tb_h: 45px;
}
body {
    font-family: 'Noto Sans JP';font-size:50px;
    background-color: #414243;
    background-image: url("https://www.wallpapertip.com/wmimgs/14-144207_flat-design-landscape-sunset.jpg");
    background-attachment: fixed;
    background-size: 100%;
}
.taskbar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--tb_h);
  background-color: var(--clr1);
  z-index: -1;
}
.startbtn{
  border: none;
  background: none;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  width: 60px;
  height: var(--tb_h);
  font-size: 20px;
  cursor: pointer;
}
.startbtn:hover {
  background: var(--acn1);
  height: var(--tb_h);
  color: var(--acn2);
  transition: all 0.3s ease;
}
.startmenu-content {
  display: none;
  position: absolute;
  bottom: var(--tb_h);
  left: 0;
  width: 300px;
  height: 600px;
  max-width: 450px;
  max-height: 300px;
  background-color: var(--acn1);
  z-index: 1;
}
.startmenu-content a {
  float: none;
  position: static;
  bottom: 0%;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}
.startmenu-content i {
  float: none;
  position: static;
  bottom: 0%;
  color: white;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 15px;
}
.startmenu-content a:hover {
  background-color: var(--acn3);
}
.startbtn:hover .startmenu-content {
  display: block;
}
.icon {
  float: right;
  border: none;
  background: none;
  outline: none;
  color: white;
  width: 40px;
  height: var(--tb_h);
  font-size: 20px;
}
.icon:hover {
  background-color: var(--acn3);
}
